.main-content {
  display: grid;
  grid-template-columns: auto 55% auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 1.6rem;
  padding: 7.2rem 0 0;
}

.title, .indice-selection, .index-line-chart, .index-table {
  grid-column: 2 / 3;
}

.title {
  padding: .8rem;
}

.index-table {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);
  height: 40rem;
  overflow-y: scroll;
}